
.idea/

oauth2/authenticationServer/.mvn/wrapper/

oauth2/clientServer/.mvn/wrapper/

oauth2/resourcesServer/.mvn/wrapper/

oauth2/authenticationServer/target

oauth2/clientServer/target

oauth2/resourcesServer/target
