<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.authServerPassword.mapper.memberMapper">

 	<insert id="save">
   		insert into resouceOwner (name, password) values
 		(#{name}, #{password})
     </insert>

     <select id="selectAll" resultType="com.example.authServerPassword.Domain.ResourceOwner">
     <![CDATA[
 		select * from resourceOwner
      ]]> 
     </select>
</mapper>  