<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.authServerPassword.mapper.memberMapper">

 	<insert id="save">
   		insert into RESOURCE_OWNER (id, username, password, role) values
 		(#{id}, #{username}, #{password}, #{role})
     </insert>

     <select id="selectAll" resultType="com.example.authServerPassword.Domain.ResourceOwner">
     <![CDATA[
 		select * from RESOURCE_OWNER
      ]]> 
     </select>

    <select id="findByUsername" resultType="com.example.authServerPassword.Domain.ResourceOwner">
        select * from RESOURCE_OWNER where username = #{username}
    </select>

    <select id="login" resultType="com.example.authServerPassword.Domain.ResourceOwner">
        select * from RESOURCE_OWNER where username = #{username} and password = #{password}
    </select>
</mapper>  